.Weather h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 29px;
  padding: 10px 5px;
}

.Weather ul {
  margin: 0px;
  padding: 0px 15px;
}
.Weather li {
  font-size: 13px;
  opacity: 0.7;
  list-style: none;
  line-height: 20px;
  font-weight: 300;
}
.Weather strong {
  font-size: 48px;
  font-weight: 500;
  margin-top: 10px;
}
.Weather .unit {
  font-size: 15px;
  margin-bottom: 50%;
  position: relative;
  top: -23px;
}
.Weather canvas {
  margin: 10px 5px;
  padding-left: 20px;
}
.Weather form {
  border: none;
}
